<footer class="doc-section-footer text-center bg-white p-3" id="page_footer">
  <p>
    <a href="https://github.com/deeborges" style="color: red;">
    Deyvison Borges | Ecommerce com JavaScript, NodeJS and MongoDB</a>
  </p>
</footer>