<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">ECOMMERCE</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/api/usuario">Usuários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/categoria">Categorias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api/produto">Produtos</a>
                </li>
            </ul>
            <div class="col-sm-2">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/api/usuario/registro">Registro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api/usuario/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>