<nav style="padding-left: 15px;">
  <div class="nav-wrapper">
    <a href="" class="brand-logo">Ecommerce</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a href="/api/usuario">
        <i class="fa fa-user"></i> Usuários <span class="new badge">{{qtd}}</span></a>
      </li>
      <li><a href="/api/categoria">
        <i class="fa fa-tags"></i>Categorias <span class="new badge"></span></a>
      </li>
      <li><a href="/api/produto">
        <i class="fa fa-gift"></i> Produtos <span class="new badge"></span></a>
      </li>
    </ul>
  </div>
</nav>