<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/custom.css">
    
    <title>Bem vindo ao Sistema de Fast Food</title>
</head>
<body>
    {{>navbar}}
    {{{body}}}
</body>
<script src="/js/bootstrap.js"></script>
</html>