<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <figure class="card-banner banner-size-lg">
        <figcaption class="overlay left"> <br><br><br><br>
          <h2 style="max-width: 300px;">Grande ofertas pra vocẽ comprar barato!</h2>
          <a class="btn btn-warning" href="#">Produtos em oferta » </a>
        </figcaption>
        <img src="/images/banners/bg-cpu.jpg" width="100%">
      </figure>
    </div>
  </div> <br>
  <div class="row">
    <div class="col-md-3">
      <figure class="card card-sm card-product">
        <span class="badge-new">LANÇAR TAGS AQUI</span>
        <div class="img-wrap"> <img src="/images/items/1.jpg"> </div>
        <figcaption class="info-wrap text-center">
          <h6 class="title text-truncate"><a href="#">TÍTULO DO PRODUTO</a></h6>
          <div class="rating-wrap  mb-2">
            <ul class="rating-stars">
              <li style="width:80%" class="stars-active"> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> 
              </li>
              <li>
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> 
              </li>
            </ul>
            <div class="label-rating">132 visualizações</div>
            <div class="label-rating">154 pessoas compraram </div>
          </div>
          <p>
            <a href="#" class=" btn alert alert-primary">
              <i class="fa fa-shopping-cart"></i> Adicionar ao carrinho
            </a>
          </p>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-3">
      <figure class="card card-sm card-product">
        <span class="badge-new">LANÇAR TAGS AQUI</span>
        <div class="img-wrap"> <img src="/images/items/2.jpg"> </div>
        <figcaption class="info-wrap text-center">
          <h6 class="title text-truncate"><a href="#">TÍTULO DO PRODUTO</a></h6>
          <div class="rating-wrap  mb-2">
            <ul class="rating-stars">
              <li style="width:80%" class="stars-active"> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> 
              </li>
              <li>
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> 
              </li>
            </ul>
            <div class="label-rating">132 visualizações</div>
            <div class="label-rating">154 pessoas compraram </div>
          </div>
          <p>
            <a href="#" class=" btn alert alert-primary">
              <i class="fa fa-shopping-cart"></i> Adicionar ao carrinho
            </a>
          </p>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-3">
      <figure class="card card-sm card-product">
        <span class="badge-new">LANÇAR TAGS AQUI</span>
        <div class="img-wrap"> <img src="/images/items/4.jpg"> </div>
        <figcaption class="info-wrap text-center">
          <h6 class="title text-truncate"><a href="#">TÍTULO DO PRODUTO</a></h6>
          <div class="rating-wrap  mb-2">
            <ul class="rating-stars">
              <li style="width:80%" class="stars-active"> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> 
              </li>
              <li>
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> 
              </li>
            </ul>
            <div class="label-rating">132 visualizações</div>
            <div class="label-rating">154 pessoas compraram </div>
          </div>
          <p>
            <a href="#" class=" btn alert alert-primary">
              <i class="fa fa-shopping-cart"></i> Adicionar ao carrinho
            </a>
          </p>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-3">
      <figure class="card card-sm card-product">
        <span class="badge-new">LANÇAR TAGS AQUI</span>
        <div class="img-wrap"> <img src="/images/items/7.jpg"> </div>
        <figcaption class="info-wrap text-center">
          <h6 class="title text-truncate"><a href="#">TÍTULO DO PRODUTO</a></h6>
          <div class="rating-wrap  mb-2">
            <ul class="rating-stars">
              <li style="width:80%" class="stars-active"> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> 
              </li>
              <li>
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i> 
              </li>
            </ul>
            <div class="label-rating">132 visualizações</div>
            <div class="label-rating">154 pessoas compraram </div>
          </div>
          <p>
            <a href="#" class=" btn alert alert-primary">
              <i class="fa fa-shopping-cart"></i> Adicionar ao carrinho
            </a>
          </p>
        </figcaption>
      </figure>
    </div>
  </div>
</div>

