<div class="container-fluid login-image">
    <br><br>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <h2 style="color: #fff;">Autenticação de Usuário</h2>
            <div class="card">
                <div class="card-body">
                    <form action="/api/admin">
                        <label for="nome"> Nome </label> <br>
                            <input type="text" id="inNome" name="nome" class="form-control"> <br>
                        <label for="senha"> Senha</label> <br>
                            <input type="password" id="inSenha" name="senha" class="form-control"> <br>
                        <button type="submit" class="btn btn-login" id="btnLogin">Login</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>