<div class="carousel-inner" role="listbox">

    <!--First slide-->
    <div class="carousel-item">
    <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%282%29.jpg'); background-repeat: no-repeat; background-size: cover;">

        <!-- Mask & flexbox options-->
        <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">

        <!-- Content -->
        <div class="text-center white-text mx-5 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <h1 class="mb-4">
            <strong>Learn Bootstrap 4 with MDB</strong>
            </h1>

            <p>
            <strong>Best &amp; free guide of responsive web design</strong>
            </p>

            <p class="mb-4 d-none d-md-block">
            <strong>The most comprehensive tutorial for the Bootstrap 4. Loved by over 500 000 users. Video and written versions
                available. Create your own, stunning website.</strong>
            </p>

            <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/" class="btn btn-outline-white btn-lg waves-effect waves-light">Start free tutorial
            <i class="fas fa-graduation-cap ml-2"></i>
            </a>
        </div>
        </div>
    </div>
    </div>
    <!--/First slide-->

    <!--Second slide-->
    <div class="carousel-item active">
    <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%283%29.jpg'); background-repeat: no-repeat; background-size: cover;">
        <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">
        <div class="text-center white-text mx-5 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <h1 class="mb-4">
            <strong>Learn Bootstrap 4 with MDB</strong>
            </h1>

            <p>
            <strong>Best &amp; free guide of responsive web design</strong>
            </p>

            <p class="mb-4 d-none d-md-block">
            <strong>The most comprehensive tutorial for the Bootstrap 4. Loved by over 500 000 users. Video and written versions
                available. Create your own, stunning website.</strong>
            </p>

            <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/" class="btn btn-outline-white btn-lg waves-effect waves-light">Start free tutorial
            <i class="fas fa-graduation-cap ml-2"></i>
            </a>
        </div>
        </div>
    </div>
    </div>

    <div class="carousel-item">
    <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/8-col/img%285%29.jpg'); background-repeat: no-repeat; background-size: cover;">
        <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">
        <div class="text-center white-text mx-5 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <h1 class="mb-4">
            <strong>Learn Bootstrap 4 with MDB</strong>
            </h1>

            <p>
            <strong>Best &amp; free guide of responsive web design</strong>
            </p>

            <p class="mb-4 d-none d-md-block">
            <strong>The most comprehensive tutorial for the Bootstrap 4. Loved by over 500 000 users. Video and written versions
                available. Create your own, stunning website.</strong>
            </p>

            <a target="_blank" href="https://mdbootstrap.com/education/bootstrap/" class="btn btn-outline-white btn-lg waves-effect waves-light">Start free tutorial
            <i class="fas fa-graduation-cap ml-2"></i>
            </a>
        </div>
        </div>
    </div>
    </div>
</div>