<br><br><br>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="alert alert-success" role="alert">
      Produto cadastrado com sucesso!
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>