<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="alert alert-success" role="alert">
        Produto cadastrado com sucesso!
      </div>
      <div class="col-sm-12">
        <span><a href="/api/produto">Cadastrar novo produto</a></span>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>
