<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
        <div class="content-wrapper d-flex align-items-center text-center error-page bg-primary">
            <div class="row flex-grow">
                <div class="col-lg-7 mx-auto text-white">
                    <div class="row align-items-center d-flex flex-row">
                        <div class="col-lg-6 text-lg-right pr-lg-4">
                        <h1 class="display-1 mb-0">404</h1>
                        </div>
                        <div class="col-lg-6 error-page-divider text-lg-left pl-lg-4">
                        <h2>Desculpe!</h2>
                        <h3 class="font-weight-light">Página não encontrada.</h3>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12 text-center mt-xl-2">
                        <a class="text-white font-weight-medium" href="/">Voltar</a>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12 mt-xl-2">
                        <p class="text-white font-weight-medium text-center">Copyright &copy; 2018 All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="carousel-team-item slick-slide slick-active" style="width: 340px;" tabindex="0" data-slick-index="4" aria-hidden="false">
          <div class="carousel-team-item-content d-flex align-items-center justify-content-center">
            <div class="text-center p-3">
              <div class="h4 text-uppercase">Amy Vanderbute</div>
              <hr class="primary my-2">
              <div class="mb-2">Graphic Artist</div>
              <!-- Social Links -->
              <div>
                <a class="mx-1" href="#" tabindex="0">
                  <i class="fab fa-facebook fa-fw"></i>
                </a>
                <a class="mx-1" href="#" tabindex="0">
                  <i class="fab fa-twitter-square fa-fw"></i>
                </a>
                <a class="mx-1" href="#" tabindex="0">
                  <i class="fab fa-linkedin fa-fw"></i>
                </a>
                <a class="mx-1" href="#" tabindex="0">
                  <i class="fab fa-dribbble fa-fw"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="overlay"></div>
          <!-- Team Member Image -->
          <img class="img-fluid" src="" alt="">
        </div>

    <div class="col-lg-7 col-md-7 align-self-center pl-0">
                <div class="testimonial-slider p-5 slick-initialized slick-slider"><button type="button" class="prevArrow slick-arrow" aria-disabled="false" style=""><i class="ti-arrow-left"></i></button>
                    <!-- slider item -->
                    <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 1662px; transform: translate3d(-554px, 0px, 0px);"><div class="outline-0 slick-slide" data-slick-index="0" aria-hidden="true" style="width: 554px;" tabindex="-1">
                        <i class="testimonial-icon ti-quote-left"></i>
                        <p class="text-dark">Lorem ipsum dolor sit amet constur adipisicing elit sed eiusmtempor incid sed dolore magna aliqu enim minim veniam quis nostrud exercittion ullamco labo ris nisi aliquip excepteur.</p>
                        <h4 class="font-weight-normal">Julia Robertson</h4>
                        <h6 class="font-secondary text-color">Happy Clients</h6>
                    </div><div class="outline-0 slick-slide slick-current slick-active" data-slick-index="1" aria-hidden="false" style="width: 554px;" tabindex="0">
                        <i class="testimonial-icon ti-quote-left"></i>
                        <p class="text-dark">Lorem ipsum dolor sit amet constur adipisicing elit sed eiusmtempor incid sed dolore magna aliqu enim minim veniam quis nostrud exercittion ullamco labo ris nisi aliquip excepteur.</p>
                        <h4 class="font-weight-normal">Julia Robertson</h4>
                        <h6 class="font-secondary text-color">Happy Clients</h6>
                    </div><div class="outline-0 slick-slide" data-slick-index="2" aria-hidden="true" style="width: 554px;" tabindex="-1">
                        <i class="testimonial-icon ti-quote-left"></i>
                        <p class="text-dark">Lorem ipsum dolor sit amet constur adipisicing elit sed eiusmtempor incid sed dolore magna aliqu enim minim veniam quis nostrud exercittion ullamco labo ris nisi aliquip excepteur.</p>
                        <h4 class="font-weight-normal">Julia Robertson</h4>
                        <h6 class="font-secondary text-color">Happy Clients</h6>
                    </div></div></div>
                    <!-- slider item -->
                    
                    <!-- slider item -->
                    
                <button type="button" class="nextArrow slick-arrow" style="" aria-disabled="false"><i class="ti-arrow-right"></i></button></div>
            </div>
</div>